<!doctype html>
<html>
<head>
    <script src="/static/js/vue.js"></script>
    <title>adfo</title>
    <link rel="stylesheet" href="/static/css/common.css?p={{p}}">
    <link rel="stylesheet" href="/static/css/index.css?p={{p}}">
</head>
<body>
    <div id="app">
        <ul class="apps">
            <li class="adfo">
                <a href="/adfo">
                    <span class="icon">
                        <img src="/static/img/appicon/adfo.png" alt="" onmousedown="return false;">
                    </span>
                    <span class="label">
                        テキストファイルを結合します
                    </span>
                </a>
            </li>
            <li class="csv">
                <a href="/csv">
                    <span class="icon">
                            <img src="/static/img/appicon/csv.png" alt="" onmousedown="return false;">
                    </span>
                    <span class="label">
                        CSVファイルからHTMLなどへ変換します
                    </span>
                </a>
            </li>
        </ul>
    </div>
</body>
</html>